<nav class="navbar navbar-dark" style="background-color: #4B0082">
  <div class="container">
    <span class="navbar-brand">
      <%= link_to "Online OCR", root_path, id: "logo" %>
    </span>
    <span class="navbar-text">
      <% if current_user and current_user.subscribed? %>
      <% elsif current_user and !current_user.subscribed? %>
        <%= link_to 'Upgrade', checkout_path, :class => 'navbar-link' %> |
        <%= 3 - @session.login_count %> free credits remaining |
      <% else %>
        <%= 3 - @session.count %> free credits remaining |
      <% end %>
      <% if user_signed_in? %>
        <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
        <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
      <% end %>
    </span>
  </div>
</nav>
