<% provide(:title, "Edit Profile") %>

<%= render "users/shared/error_messages", resource: resource %>

<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  

  <div class="row">
    <div class="col-md-12 py-2">
      <div class="col-md-4">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="col-md-12 py-2">
      <div class="col-md-4">
        New <%= f.label :password %> <br />
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
        <% if @minimum_password_length %>
          <%= @minimum_password_length %> characters minimum
        <% end %>
      </div>
    </div>

    <div class="col-md-12 py-2">
      <div class="col-md-4">
        New <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>
    </div>

    <div class="col-md-12 py-2">
      <div class="col-md-4">
        <%= f.label :current_password %> <br />
        <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
      </div>
    </div>
  </div>


    <div class="col-md-12 py-2">
      <div class="col-md-4">
        <%= f.submit "Update", class: "btn btn-success w-100" %>
      </div>
    </div>


  <% end %>

  <br>

  <h3>Delete my account</h3>

  <div class="col-md-12 py-2">
    <div class="col-md-4">
      <p>Looking to delete your account?<%= button_to "Delete my account", registration_path(resource_name), method: :delete, class: "btn btn-danger w-100" %></p>
    </div>
  </div>

  <%= link_to "Back", :back %>
